<template >
  <div>
    <slot></slot>
  </div>
</template>
<script>
export default {
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },

  // ทำเมื่อมีอะไรเปลื่ยนแปลง
  watch: {
    isLogin (newValue, oldValue) {
      if (!newValue) {
        this.$router.push('/login')
      }
    }
  },

  // ถ้าถูกเรียกใช้แล้วยังไม่ login จะเข้า login ทันที
  mounted () {
    if (!this.$store.getters['auth/isLogin']) { this.$router.push('/login') }
  }

}
</script>
<style >

</style>
